<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EchoClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EchoClient.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </EchoClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Echo" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://skynet/servicemodelsamples/service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Echo"
                contract="EchoWCFService.Echo" name="BasicHttpBinding_Echo"/>
        </client>
    </system.serviceModel>
</configuration>