<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EchoClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EchoClient.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>-1</value>
            </setting>
        </EchoClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_EchoDuplex" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://skynet/echo/service.svc/echo" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_EchoDuplex" contract="EchoDuplex.EchoDuplex"
                name="WSDualHttpBinding_EchoDuplex">
                <identity>
                    <servicePrincipalName value="host/Skynet" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>